<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <div th:replace="~{normal/base :: content}"></div>
    <section class="content mt-5">
        <i  onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
        <div class="card cmargin mt-4 text-center">
            <div class="card-body m-1 uhcolor">
                <h1>Welcome to the Smart Contact Web App!</h1>
                <img class="my_profile_pic m-3" th:src="@{../image/contact.jpeg}" alt="">
                <h2>Start adding your contact</h2>
                <a th:href= "@{/user/add-contact}" style="display: block;" class="btn btn-primary mt-4"> Add New Contact</a>
              <hr>
                <h3 class="mt-3">Donate us</h3>
                <input type="number" name="payment_field" id="payment_field" placeholder="Enter amount">
                <button onclick="paymentStart()" class="btn btn-success shadow" style="margin-top: -.5%;">Pay</button>
            </div>
        </div>
    </section>

    <script>
        $('.item').removeClass('active')
        $('#home-link').addClass('active')
    </script>
    
</body>
</html>