<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <div th:replace="~{base :: content}"></div>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">Smart Contact Manager</h1>
            <p>Start Collecting your contacts in vert smarter way. We provide very efficient and smarte way of handling contacts.</p>
            <a th:href= "@{/login}" class="btn bg-cprimary btn-lg text-white">Get Start</a>
        </div>
    </section>
</body>
</html>